* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --blue: #0011ff;
    color: var(--blue);
}

.point {
    cursor: pointer;
}

header {
    margin: 10px 0;
    padding: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

form {
    position: relative;
    padding: 70px 0;
    width: 80%;
    max-width: 400px;
    box-shadow: var(--blue) 0 0 5px;
    border: 1px solid var(--blue);
    border-radius: 5px;
}

input, select {
    margin: 10px 0;
    padding: 0 10px;
    width: 70%;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid var(--blue);
    border-radius: 3px;
    font-size: 15px;
}

input:hover, select:hover {
    border: 1px solid #0f002c;
}